In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_json("Entity Recognition in Resumes.json", lines=True)
df.head()

,content,annotation,extras
0,Abhishek Jha\nApplication Development Associat...,"[{'label': ['Skills'], 'points': [{'start': 12...",NaN
1,Afreen Jamadar\nActive member of IIIT Committe...,"[{'label': ['Email Address'], 'points': [{'sta...",NaN
2,"Akhil Yadav Polemaina\nHyderabad, Telangana - ...","[{'label': ['Skills'], 'points': [{'start': 37...",NaN
3,Alok Khandai\nOperational Analyst (SQL DBA) En...,"[{'label': ['Skills'], 'points': [{'start': 80...",NaN
4,Ananya Chavan\nlecturer - oracle tutorials\n\n...,"[{'label': ['Degree'], 'points': [{'start': 20...",NaN

In [3]:
df['content'][41]

"Mahesh Vijay\nBengaluru, Karnataka - Email me on Indeed: indeed.com/r/Mahesh-Vijay/a2584aabc9572c30\n\nOver 6.5 years of functional enriched experience in ERP in the Procurement to Pay domain. Was\nassociated with Oracle India Pvt Ltd, Bangalore as Team lead - Supplier Data Management in\ntheir Global Financial Information Centre (Global Shared Service Center) for Oracle's Business\nfrom Sep 2007- Feb 2014.\n\nWilling to relocate: Anywhere\n\nWORK EXPERIENCE\n\nTeam lead - supplier data management\n\nOracle India -  Bangalore, Karnataka -\n\nMarch 2014 to December 2016\n\nManaging Partner of family business of Tours & Travels\n\nTeam Lead\n\nOracle India Pvt Ltd -\n\nOctober 2013 to February 2014\n\nSupplier Data Management\n\nLead Analyst -SME -Supplier Data Management\n\nOracle India Pvt Ltd -\n\nSeptember 2012 to October 2013\n\nSenior Analyst -Supplier Data Management\n\nOracle India Pvt Ltd -  Bengaluru, Karnataka -\n\nJanuary 2010 to September 2012\n\nAcademia\n• Bachelors in Commerce (B.Com) from Vivekananda Degree College, Bangalore\nUniversity(2007)\n• Pre University from Vivekananda PU College, Bangalore(2004)\n• Passed 10th STD from Angels High School, Bangalore(2002)\nFunctional & Technical Expertise\nFunctional\n- Ensuring data quality in Purchasing Supplier management (PSM) registry and Trading\nCommunity Architecture of the Oracle e-business suite bundle.\n\nhttps://www.indeed.com/r/Mahesh-Vijay/a2584aabc9572c30?isid=rex-download&ikw=download-top&co=IN\n\n\n- Managing all projects and ensuring the completion of the same within timeframe. Projects\nlike - Oracle Fusion Supplier Self Service, Supplier cleanup, migration of merger and acquisition\nsuppliers, UAT\n- Managing activities like synchronizing creation and updates of supplier records.\n- Oracle Fusion - Related to Procurement modules -Fusion Supplier Portal\n- Sound knowledge in the Oracle Financial applications domain that includes various cycles like\nthe Expense Reporting, Accounts Payables, Accounts Receivables, and Tactical Purchasing.\n- R12 User Acceptance Testing, writing test cases and author test reports which analyze the\nreported defects.\nTechnical\n- Oracle Applications Releases: 12, 11.5, Oracle Applications Modules Purchasing, iProcurement\n- Business Intelligence Reporting Tools: Oracle Discoverer & Accounting Software Tally 7.2\nProjects & Accomplishments\nOracle Master Data Management- Legacy Data Cleanup Project\nRole:\n• Global Country wise clean up initiative focusing on achieving a clean and accurate database\n• Supplier Information retrieval based on information in Purchase orders\nOracle Fusion UAT- Supplier Self Service\nRole:\n• Internal UAT-Part of upgrade team, testing all functionality and interfaces.\n• Monitoring the new add on features in Fusion and old features assigned\n\n11i to R12 Migration- Manual UAT\nRole:\n• Testing for Supplier creations, Merges, Tax set ups, Withholding and TDS code, Bank details etc\n• Monitoring the new add on features in R12 and old features assigned\n\nOracle Supplier Life Cycle Management (SLM) or Supplier Hub Project\nRole:\n• Internal UAT- testing all functionality and interfaces for creating a 360 degree view for each\nand every supplier.\n• Responsible for setting up suppliers' online, assisting requesters and suppliers to register a\nsupplier and iSupplier access. Testing fast and flexible supplier searches that can be made into\ntemplates resulting in quick report generation Create and test blended supplier records from\nmultiple sources\n\nSKILLS\n\nBCP (6 years), Data Governance (6 years), Data Management (6 years), Oracle (6 years),\nReporting Tools (6 years)\n\nADDITIONAL INFORMATION\n\nKey Skills\n• Process Management & Improvement\n• Operations & Team Management\n• Data Governance & Automation\n• Oracle E- Business Systems experience in Supplier Data/Vendor Data management\n• BCP Policies & Procedures\n\n\n\n• Desk Manuals/Business Process & Navigation Documentation\n• Business Ethics\n• Professional Communication\n• Reporting Tools & Microsoft Office Applications"

In [4]:
df['annotation'][46]

[{'label': ['Skills'],
  'points': [{'start': 2110,
    'end': 2403,
    'text': 'SKILL SET • ASP.NET, C# • QA tools\n\n• Coding and modularization • Excellent communication skills\n\n• VB, VB.net, ASP • Technical specifications creation\n\n• HTML • System backups\n\n• Sql server 2005, Oracle • System upgrades\n\n• Java/C/C++ • Excellent problem-solving abilities\n\nNavas Najeer Koya 3'}]},
 {'label': ['Location'],
  'points': [{'start': 2055, 'end': 2063, 'text': 'Mangalore'}]},
 {'label': ['Skills'],
  'points': [{'start': 1895,
    'end': 1946,
    'text': 'C# (Less than 1 year), .NET, SQL Server, Css, Html5\n'}]},
 {'label': ['Graduation Year'],
  'points': [{'start': 1880, 'end': 1884, 'text': ' 2014'}]},
 {'label': ['Location'],
  'points': [{'start': 1851, 'end': 1859, 'text': 'Mangalore'}]},
 {'label': ['Location'],
  'points': [{'start': 1829, 'end': 1837, 'text': 'Mangalore'}]},
 {'label': ['Degree'],
  'points': [{'start': 1794,
    'end': 1825,
    'text': 'Bachelor of Computer Application'}]},
 {'label': ['Graduation Year'],
  'points': [{'start': 1056, 'end': 1060, 'text': ' 2014'}]},
 {'label': ['Companies worked at'],
  'points': [{'start': 1031, 'end': 1037, 'text': 'Infosys'}]},
 {'label': ['Designation'],
  'points': [{'start': 479, 'end': 492, 'text': 'Test Engineer\n'}]},
 {'label': ['Companies worked at'],
  'points': [{'start': 352, 'end': 358, 'text': 'Infosys'}]},
 {'label': ['Designation'],
  'points': [{'start': 337, 'end': 350, 'text': 'Test Engineer\n'}]},
 {'label': ['Graduation Year'],
  'points': [{'start': 253, 'end': 257, 'text': ' 2014'}]},
 {'label': ['Companies worked at'],
  'points': [{'start': 236, 'end': 242, 'text': 'Infosys'}]},
 {'label': ['Designation'],
  'points': [{'start': 219, 'end': 233, 'text': 'System Engineer'}]},
 {'label': ['Location'],
  'points': [{'start': 135, 'end': 143, 'text': 'Mangalore'}]},
 {'label': ['Location'],
  'points': [{'start': 26, 'end': 34, 'text': 'Mangalore'}]},
 {'label': ['Designation'],
  'points': [{'start': 11, 'end': 24, 'text': 'Test Engineer\n'}]},
 {'label': ['Name'], 'points': [{'start': 0, 'end': 9, 'text': 'Navas Koya'}]}]

In [6]:
def bio_encoding(resume_content, annotations):
    
    tokens = resume_content.split()
    bio_labels_dict = {token:'O'for token in tokens}
    
    # Iterate through the annotations
    for annotation in annotations:

        label = annotation['label'][0]
        points = annotation['points'][0]
        
        start = points['start']
        end = points['end']
        text=points['text']
        
        text_tokens = text.split()
        
        first_token=text_tokens[0]
        bio_labels_dict[first_token]= 'B-' + label
            
            
        for text_token in text_tokens[1:]:
            bio_labels_dict[text_token]= 'I-' + label
            
    return bio_labels_dict

resume_content = "B.v.b college of engineering and technology"
annotations = [{'label': ['College Name'], 'points': [{'start':6, 'end': 13, 'text':'college'}]}]

bio_labels_dict_ex= bio_encoding(df['content'][46],df['annotation'][46])

print(bio_labels_dict_ex)

{'Navas': 'B-Name', 'Koya': 'I-Name', 'Test': 'B-Designation', 'Engineer': 'I-Designation', 'Mangalore,': 'O', 'Karnataka': 'O', '-': 'O', 'Email': 'O', 'me': 'O', 'on': 'O', 'Indeed:': 'O', 'indeed.com/r/Navas-Koya/23c1e4e94779b465': 'O', 'Willing': 'O', 'to': 'O', 'relocate': 'O', 'to:': 'O', 'Bangalore,': 'O', 'Chennai,': 'O', 'Tamil': 'O', 'Nadu': 'O', 'WORK': 'O', 'EXPERIENCE': 'O', 'System': 'B-Designation', 'Infosys': 'B-Companies worked at', 'August': 'O', '2014': 'B-Graduation Year', 'Present': 'O', '.NET': 'O', 'application': 'O', 'Maintenance': 'O', 'and': 'I-Skills', 'do': 'O', 'the': 'O', 'code': 'O', 'changes': 'O', 'if': 'O', 'required': 'O', 'June': 'O', '2015': 'O', 'February': 'O', '2016': 'O', 'PrProject': 'O', '2:': 'O', 'Title:': 'O', 'RBS': 'O', 'W&G': 'O', 'Proving': 'O', 'testing.': 'O', 'Technology:': 'O', 'Manual': 'O', 'testing': 'O', 'Role:': 'O', 'Software': 'O', 'Domain:': 'O', 'Banking': 'O', 'Description:': 'O', 'Write': 'O', 'test': 'O', 'cases': 'O', '&': 'O', 'descriptions.': 'O', 'Review': 'O', 'entries.': 'O', 'Upload': 'O', 'map': 'O', 'documents': 'O', 'into': 'O', 'HP': 'O', 'QC.': 'O', 'Execute': 'O', 'operations': 'O', 'in': 'O', 'TPROD': 'O', 'mainframe.': 'O', 'result': 'O', 'QC': 'O', 'along': 'O', 'with': 'O', 'proof.': 'O', 'Roles': 'O', 'Responsibilities:': 'O', '•Prepared': 'O', 'Scenarios': 'O', 'Executed': 'O', 'Cases': 'O', '•Performed': 'O', 'functional,': 'O', 'Regression': 'O', 'testing,': 'O', 'Sanity': 'O', '•Reviewed': 'O', 'Reports': 'O', 'Preparing': 'O', 'Summary': 'O', 'Report.': 'O', '•Upload': 'O', '•Execute': 'O', 'Mainframe.': 'O', '•Defect': 'O', 'Track': 'O', 'Executive': 'O', 'Limited': 'O', 'May': 'O', 'https://www.indeed.com/r/Navas-Koya/23c1e4e94779b465?isid=rex-download&ikw=download-top&co=IN': 'O', 'Project': 'O', '1:': 'O', 'CAWP': 'O', '(Compliance': 'O', 'Automated': 'O', 'Work': 'O', 'Paper)': 'O', 'The': 'O', 'Admin': 'O', 'can': 'O', 'create': 'O', 'maintain': 'O', 'annual': 'O', 'plan,': 'O', 'users': 'O', 'only': 'O', 'view': 'O', 'add': 'O', 'details.': 'O', 'Testers': 'O', 'will': 'O', 'get': 'O', 'Business': 'O', 'Requirement': 'O', 'which': 'O', 'explains': 'O', 'flows': 'O', 'Functional': 'O', 'requirements': 'O', 'gives': 'O', 'full': 'O', 'detail': 'O', 'of': 'I-Degree', 'project.': 'O', 'EDUCATION': 'O', 'Bachelor': 'B-Degree', 'Computer': 'I-Degree', 'Applications': 'O', 'Mangalore': 'B-Location', 'University,': 'O', '2011': 'O', 'April': 'O', 'SKILLS': 'O', 'C#': 'B-Skills', '(Less': 'I-Skills', 'than': 'I-Skills', '1': 'I-Skills', 'year),': 'I-Skills', '.NET,': 'I-Skills', 'SQL': 'I-Skills', 'Server,': 'I-Skills', 'Css,': 'I-Skills', 'Html5': 'I-Skills', 'ADDITIONAL': 'O', 'INFORMATION': 'O', 'computer': 'O', 'application:': 'O', '74%': 'O', 'from': 'O', 'Milagres': 'O', 'College,': 'O', 'Kallianpur': 'O', 'under': 'O', 'Karnataka.': 'O', 'Najeer': 'I-Skills', '2': 'O', 'SKILL': 'B-Skills', 'SET': 'I-Skills', '•': 'I-Skills', 'ASP.NET,': 'I-Skills', 'QA': 'I-Skills', 'tools': 'I-Skills', 'Coding': 'I-Skills', 'modularization': 'I-Skills', 'Excellent': 'I-Skills', 'communication': 'I-Skills', 'skills': 'I-Skills', 'VB,': 'I-Skills', 'VB.net,': 'I-Skills', 'ASP': 'I-Skills', 'Technical': 'I-Skills', 'specifications': 'I-Skills', 'creation': 'I-Skills', 'HTML': 'I-Skills', 'backups': 'I-Skills', 'Sql': 'I-Skills', 'server': 'I-Skills', '2005,': 'I-Skills', 'Oracle': 'I-Skills', 'upgrades': 'I-Skills', 'Java/C/C++': 'I-Skills', 'problem-solving': 'I-Skills', 'abilities': 'I-Skills', '3': 'I-Skills', 'Application': 'I-Degree'}

In [7]:
columns = ['sentence', 'token', 'tag']
final_df = pd.DataFrame(columns=columns)

In [8]:
for index, row in df.iterrows():
    if index==81 or index==167:
        continue
        
    resume_content = df['content'][index]
    annotations = df['annotation'][index]
    
    bio_labels_dict = bio_encoding(resume_content,annotations)
    
    prev=""
    for key,value in bio_labels_dict.items():
        if value[0][0]=='I':
            if value[0][2:]!=prev[2:]:
                bio_labels_dict[key][0]='O'
        prev=bio_labels_dict[key][0]
        
    for key, value in bio_labels_dict.items():
        new_row = {'sentence': 'Sentence: '+str(index+1),'token': key, 'tag':value}
        final_df = pd.concat([final_df, pd.DataFrame([new_row])], ignore_index=True)

In [9]:
final_df

            sentence        token            tag
0        Sentence: 1     Abhishek         B-Name
1        Sentence: 1          Jha         I-Name
2        Sentence: 1  Application  B-Designation
3        Sentence: 1  Development  I-Designation
4        Sentence: 1    Associate  I-Designation
...              ...          ...            ...
60746  Sentence: 220        false              O
60747  Sentence: 220    positive,              O
60748  Sentence: 220         fine              O
60749  Sentence: 220       tuning              O
60750  Sentence: 220   escalating              O

[60751 rows x 3 columns]

In [10]:
# Find unique values in the "tag" column
unique_tags = final_df['tag'].unique()

# Get value counts of each unique tag
tag_value_counts = final_df['tag'].value_counts()

# Print the unique values and their counts
print("Unique Tags:")
print(unique_tags)
print("\nValue Counts:")
print(tag_value_counts)

Unique Tags:
['B-Name' 'I-Name' 'B-Designation' 'I-Designation' 'I-Skills'
 'B-Companies worked at' 'O' 'B-Email Address' 'I-Email Address'
 'B-Graduation Year' 'B-College Name' 'I-College Name' 'B-Skills'
 'B-Location' 'I-Degree' 'B-Degree' 'I-Companies worked at'
 'B-Years of Experience' 'I-Years of Experience' 'I-Location' 'I-UNKNOWN'
 'B-UNKNOWN']

Value Counts:
O                        51143
I-Skills                  5140
I-College Name             716
I-Degree                   641
I-Designation              442
B-Skills                   297
B-College Name             290
B-Degree                   279
B-Designation              244
I-Name                     228
B-Name                     215
B-Companies worked at      212
I-Companies worked at      200
B-Location                 199
B-Email Address            189
B-Graduation Year          156
I-Email Address             75
I-Years of Experience       35
B-Years of Experience       32
I-Location                  14
I-UNKNOWN                    3
B-UNKNOWN                    1
Name: tag, dtype: int64

In [11]:
# Calculate the value counts for the "sentence" column
sentence_counts = final_df['sentence'].value_counts()

# Find the maximum value of the value counts
max_count = sentence_counts.max()
min_count = sentence_counts.min()

# Print the maximum value
print("Maximum value of sentence counts:", max_count)
print("Minimum value of sentence counts:", min_count)

Maximum value of sentence counts: 1149
Minimum value of sentence counts: 24

In [ ]:
final_df.to_csv('resume_entities.csv', index=False)